# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
venv/

# Ignore environment-specific configuration files
.env

# Ignore static files
/static/
/admin/
/adminsortable2/
/django_tinymce/
