# Ignore compiled Python files
*.pyc

# Ignore the virtual environment directory
venv/

# Ignore environment-specific configuration files
.env

# Ignore static files
myblog/static/admin
myblog/static/tinymce/
myblog/static/adminsortable2/
myblog/static/django_tinymce/
