{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="InspiREC - Videography by Marcin Brzozowski. We create stunning real estate videos and photos.">
    <meta name="keywords" content="videography, real estate videos, real estate photos, Marcin Brzozowski, InspiREC">
    <meta name="author" content="Marcin Brzozowski">

    <link rel="canonical" href="{% url 'home' %}">

    <meta property="og:title" content="InspiREC - Marcin Brzozowski">
    <meta property="og:description" content="InspiREC - Videography by Marcin Brzozowski. We create stunning real estate videos and photos.">
    <meta property="og:image" content="{% static 'images/og-image.jpg' %}">
    <meta property="og:url" content="{% url 'home' %}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="InspiREC - Marcin Brzozowski">
    <meta name="twitter:description" content="InspiREC - Videography by Marcin Brzozowski. We create stunning real estate videos and photos.">
    <meta name="twitter:image" content="{% static 'images/twitter-card-image.jpg' %}">

    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <title>InspiREC - Videography</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'images/logo.png' %}" alt="Logo">
            </a>
        </div>
        <!-- Regular Menu (hidden on small screens) -->
        <nav class="menu">
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                {% for item in menu_items %}
                    <li><a href="{{ item.get_link }}">{{ item.title }}</a></li>
                {% endfor %}
            </ul>
        <!-- Mobile Menu Icon -->
        <div class="menu-toggle">
            <img id="mobile-menu-toggle" class="menu-icon" src="{% static 'images/menu-icon.png' %}" alt="Menu">
        </div>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <div class="footer-content">
        &copy; {% now "Y" %} Inspi<span class="highlight">REC</span>
    </div>
    </footer>
    <script src="{% static 'menu.js' %}"></script>
</body>
</html>
